# IDE folders
.idea/
.vs/
.vscode/*

# Caches
__pycache__
.mypy_cache
.cache/

# Original files
orig/*/*
!orig/*/.gitkeep
*.dol
*.rel
*.elf
*.o
*.map
*.MAP

# Iso 
*.iso
_iso/*

# Build files
build/
.ninja_*
build.ninja

# decompctx output
ctx.*
*.ctx

# Generated configs
objdiff.json
compile_commands.json

# Miscellaneous
/*.txt
!requirements.txt
*.exe
*.lnk

# For saving work files into (like IDB)
temp/
